x-service-node-webapp-production-base: &node-webapp-production-base
  build: &node-webapp-production-base-build
    context: .
    dockerfile: Dockerfile.d/node-webapp.production/Dockerfile
    target: base
  # https://docs.docker.com/compose/compose-file/compose-file-v3/#build
  # > If you specify image as well as build, then Compose names the built image with the webapp and optional tag specified in image:
  image: base
  init: true
  pull_policy: never

services:
  bff-prod:
    <<: *node-webapp-production-base
    build:
      <<: *node-webapp-production-base-build
      target: bff-runner
    depends_on:
      - mysql
      - redis
    environment:
      ALLOW_ORIGIN: http://${PUBLIC_IP_ADDR_OR_FQDN:-frontend-prod}:13000
    image: local.local/bff:HEAD
    ports:
      - ${BIND_IP_ADDR:-127.0.0.1}:14000:4000
  frontend-prod:
    <<: *node-webapp-production-base
    build:
      <<: *node-webapp-production-base-build
      target: frontend-runner
    image: local.local/frontend:HEAD
    ports:
      - ${BIND_IP_ADDR:-127.0.0.1}:13000:3000

version: '3.9'
