.header {
  background-color: gray;
  background-size: 100% auto;
  .brandArea {
    @apply container flex p-2;
  }
  nav {
    @apply flex flex-wrap justify-center;
    @apply text-gray-600 text-sm;
    > a {
      @apply mr-4;
      @apply hover:text-gray-900;
      @apply border-b-4 border-transparent hover:border-indigo-300;
    }
  }
  hr {
    border-top: 1px solid #333;
  }
}

.main {
  @apply container max-w-screen-lg mx-auto flex justify-center;
  /* stylelint-disable no-descending-specificity */
  a {
    text-decoration: underline;
    @apply text-sm text-indigo-600 hover:text-gray-600;
    @apply border-b-2 border-transparent hover:border-indigo-300;
    &:hover {
      text-decoration: none;
    }
    /* stylelint-disable declaration-empty-line-before */
    &:visited {
      @apply text-gray-600;
      text-decoration-color: gray;
      text-decoration-line: underline;
    }
    /* stylelint-enable declaration-empty-line-before */
  }
  /* stylelint-enable no-descending-specificity */
}

.footer {
  // border: 1px dotted pink;
  hr {
    border-top: 1px solid #333;
  }
  .footer-fill {
    min-height: 4rem;
  }
}
