.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* border: 1px dotted lime; */
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  /* border: 1px dotted pink; */
}

.card {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  max-width: 360px;
  border-radius: 8px;
  transition: 0.1s all;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 4px 4px 2px rgba(1, 1, 1, 0.05);
  border: 1px solid lightgray;
}
@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
.card:hover {
  transform: scale(1.1);
}
.card h2 {
  text-align: center;
  margin-top: 0;
}
.card dl {
  display: flex;
  flex-wrap: wrap;
}
.card dl dt {
  margin: 0;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 1rem;
  width: 50%;
  text-align: right;
}
.card dl dd {
  margin: 0;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  width: 50%;
}

@media (prefers-color-scheme: dark) {
  .card {
    box-shadow: 2px 4px 8px 2px rgba(240, 240, 240, 0.2);
  }
}
